@charset "UTF-8";
/* CSS Document */

div.full {
	background: #020031;
	background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%) !important;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)) !important;
	background: -webkit-linear-gradient(45deg, #049cdb 0%, #FFFFFF 100%) !important;
	background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%) !important;
	background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%) !important;
	background: linear-gradient(45deg, #020031 0%,#6d3353 100%) !important;
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353', GradientType=1 ) !important; */
}

div.overlay {
	position:relative; 
	z-index:2;
}
div.overlay > div {
	position:relative;
	padding-top:40px;
}
div.overlay > div > h1 {
	text-shadow: 2px 2px 4px #000000;
	color:#fff;
}

p.mainpagebuttons {
	position:relative;
	z-index:1;
}

span.logos {
	position:absolute;
	right:10%;
	z-index:1;
}

#slideshow { 
	margin: auto; 
	margin-top: 60px;
	position: relative; 
	width: 750px; 
	height: 260px; 
	padding: 10px; /*box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#slideshow > div { 
	position: absolute;
	/* top: 10px; */
	left: 10px; 
	right: 10px; 
	bottom: 10px; 
}
.subhead {
	font-size:24px;
}

/* copied from bjc.css so this CSS can stand alone */

a.blbtn {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429; 
	/* text-align: center; */ 
	/* white-space: nowrap; */ 
	/* vertical-align: middle; */ 
	/* cursor: pointer; */
	border: 1px solid transparent;
	border-radius: 4px; 
	/* -webkit-user-select: none; */ 
	/* -moz-user-select: none; */ 
	/* -ms-user-select: none; */ 
	/* -o-user-select: none; */ 
	/* user-select: none; */
}
a.blbtn:hover {
	color: #333 !important;
}
a.blbtn:visited {
	color: #fff !important;
}

.center {
  text-align: center;
  margin: 0 auto;
}

div.footer {font-size: .8em;}
 
img.imageLeft {margin-bottom: 0px;}

.inline {
  padding-top: -5px;
  padding-bottom: -5px;
}