@charset "UTF-8";
/* CSS Document */

/** Basic HTML **/
/* TODO: work sans is not loaded on most pages. */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'work_sansregular', 'Open Sans', sans-serif;
}

.anchor {
   padding-top: 80px;
   margin-top: -80px;
}

a:visited {  color: #248694; /* was 36BBCE; */}

a, .dialogue a {  color: #2a6496; /* was 428bca; */}

/* development comments are hidden by default. */
.todo, .comment, .commentBig { display: none; }

.back-to-top {
  display: block;
  margin-bottom: 10px;
  font-size: 120%;
  background-image: url(/bjc-r/img/globe.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 30px; /* was 25px until  3/8/16 */
  float: right; /* added 3/8/16 to move TOC link to RHS near where menus are on lab pages */
  padding-right: 25px; /* added 3/8/16 to move TOC link to RHS near where menus are on lab pages */
}

body { /* Added 12/15/16 by Mary Fries to provide more screen real estate.*/
  width: 100%;
  max-width: 100%;
}

h3 {margin-top:20px;}

.blockquote {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }

.byte td, th {
  width:50px;
  text-align: center;
  padding: 2px;
  border: solid 1px black !important;
}

.byte th { font-weight:bold;}

.byte td.noborder { border: 0px; }

.captioned {
  float: right;
  margin: 0 20px 15px 15px;
  width: 20%;
}

.fixedwidth {
	font-family: Courier;
}

.inline {
  padding-top: -5px;
  padding-bottom: -5px;
}

.inline-block {
  padding-top: -5px;
  padding-bottom: -5px;
  height: 2.5em;
}

h4 {  padding: 5px 0px 0px 0px;}

h3 {  padding-top: 10px;}

.full ul, .full ol {
  display: block;
  color: inherit; /* resets the color */
  border: none;
  margin: 0px;
}

img.imageLeft {margin-bottom: 0px;}

.indent {margin-left: 10%;}
.smallindent {margin-left: 5%;}
.padright {padding-right: 30px;;}

li {	padding: 3px;}

li > ul, li > ol {
  margin: 5px auto;
  line-height: none;
}

li > ol {  list-style-type: lower-alpha;}

ol.horizontal {
    display: flex !important;
    flex-wrap: wrap;
}
ol.horizontal li {
    margin-right: 30px;
    list-style-type: lower-alpha;
}

div.navbar-right {padding: 15px;}

.nopad {
	padding: 0px;
}

.nopadtb { /* top and bottom only */
	padding-top: 0px;
	padding-bottom: 0px;
}

pre {
    display: block;
    padding: 2px;
    width: min-content;
}

pre.inline {
    display: inline;
    margin: 0 .25em 0 .25em;
}

div.pre-container {
    display: inline-grid;
    vertical-align: middle;
}

p, div.pseudop {margin-top: 8px;}

table.remainders {float:left; margin-right:100px;}

/* Quiz Styling edits by Mary Fries on 12.16.16*/
.MultipleChoice .currentQuestionBox .leftColumn {
  min-height: 150px;
}

/** Writer Notes **/
.comment, .commentBig { /* based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid red;
  clear:both;
  background-color: #FFF;
  text-indent: 0em;
}

.comment {width: 20%;}

.commentBig {width: 40%;}

code {
  padding: 0px;
  color: #8B008B;
}

code.break {word-wrap: break-word;}

var {
  padding: 0px;
  color: #F3761D;
}

.classIndent {
  margin-left: 2em;
}

.todo {
  font-size: .9em;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid red;
  background-color: #FFF;
}

.todo:before {
  font-size: 18px;
  font-weight: bold;
}

.sidenote, .sidenoteBig, .endnote {
  font-size: 1em;
}

.sidenote, .sidenoteBig { /* added by Mary Fries based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  clear:both;
  text-indent: 0em;
}

.sidenote {width: 20%;}

.sidenoteBig {width: 40%;}

.endnote {
  width: 90%;
  margin-left: auto;
 }

.narrower {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }

.narrowblue {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }

.narrowpurple {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }

.sideHOM, .sideHOMbig {
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  clear:both;
  text-indent: 0em;
}

.sideHOM {width: 20%;}

.sideHOMbig {width: 40%;}

img.noshadow {
  /* Better resizing of images for mobile devices */
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.5));
  -ms-filter: none;
  filter: none;
}

/* Is this in use? --MF, 10/11/19 */
.apStandards, .Standards {
  background-color: #fcc589;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 }

.apStandards > p {
  font-size: 12px;
  margin-left: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.apStandards > h4 {
  margin-bottom: .2em;
}

.forYouToDo, .ifTime, .dialogue, .takeItFurther, .takeNote, .endnote, .narrower, .narrowblue, .narrowpurple, .time , .learn {
  padding: 1em;
  margin-bottom: 1em;
  margin-top: .5em;
}

        /* New Graphic design - STRIPES */
        .forYouToDo, .ifTime, .takeItFurther, .takeItTeaser, .takeItTeased {
            border-style: solid;
            border-width: 2px;
            border-left-width: 20px;
            background-color: #FFFFFF;
        }
        .takeItTeaser {border-bottom-width: 0px;}
        .takeItTeased {border-top-width: 0px;}

        .forYouToDo {border-color: #62C213;} /* Operators Palette */
        .dialogue {border: 2px solid #0494DC; background-color: #FFFFFF;} /* Sensing Palette*/
        .ifTime {border-color: #4A6CD4;} /* Motion Palette: 4A6CD4 (TINT:a5b6ea) */
        .takeItFurther, .takeItTeaser, .takeItTeased {border-color: #8F56E3;} /* Looks Palette: 8F56E3 (TINT:c7abf1) */

        /*New Graphic design - BORDERS*/
        .endnote, .sidenote, .sidenoteBig, .narrower, .narrowblue, .narrowpurple {border-style: solid; border-width: 0px;}

        /*New Graphic design - TINTS*/
        .learn {font-size: 1em; background-color: #fcc7c2;} /* Original: fcc7c2; Pen Palette: CF4AD9 Lilac: #f5dbf7*/
        .endnote, .sidenote, .sidenoteBig {background-color: #FFF8AD; border-color: #E6A822;} /* Control Palette: E6A822, (TINT:f3d491; LIGHTER TINT:faeed3; OLD DESIGN:FFF8AD) */
        .atwork {background-color: #fcc589;}
        .vocab, .vocabBig, .exam, .examBig, .vocabFullWidth, .examFullWidth, .vocabSummary, .examSummary {background-color: #eaeaea;} /* Gray Palette: 969696 (TINT:cbcbcb)*/

        /*New Graphic design - LIGHTER TINTS*/
        .narrower {border: 3px solid #62C213;} /*background-color: #e2f3ce; border-color: #62C213;} /* Operators Palette: 62C213; TINT: e0f3d0; LIGHTER-TINT:eff9e7; OLD DESIGN: e2f3ce */
        .narrowblue {border: 3px solid #4A6CD4;} /*background-color: #dbe2f6; border-color: #4A6CD4;} /* Motion Palette: 4A6CD4 OLD DESIGN: dcf4ff */
        .narrowpurple {border: 3px solid #8F56E3;} /*background-color: #e9ddf9; border-color: #8F56E3;} /* Looks Palette: 8F56E3 OLD DESIGN: f4ddf3 */

        .takeNote, .endHOM, .sideHOM , .sideHOMbig {background-color: #FFF; border: 10px solid #f3761d; color: #000;} /* Original color: fcc589; Purple we'd been trying for a while: 8F56E3 Brian's dark orange that isn't dark enough for white text: #CC5500  Mary's green: #62C213; Brian's brown: #993800*/
        div.comment, .takeNote div.commentBig, .takeNote div.todo, .takeNote div.sidenote, .takeNote div.sidenoteBig, .takeNote div.endnote, .sideHOM div.todo  {color: #000000;}

.takeItTeaser {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.takeItTeased {
  padding: 1em;
}

.forYouToDo:before, .forYouToDoHeader, .ifTime:before, .dialogue:before, .takeItFurther:before, .takeItTeased:before, .takeNote:before, .narrower:before, .narrowblue:before, .narrowpurple:before, .endnote > div:not(.sidenote):not(.sidenoteBig):not(.sideHOM):not(.sideHOMbig):not(.todo):not(.comment):not(.commentBig):not(.takeNote):not(.collapse):not(.collapsing):not(.takeItFurther):not(.endnote):not(.vocabFullWidth):not(.vocabSummary):not(.pseudop):not(.bordered-table), .time:before   { /* Shared Heading Formatting */
  font-size: 18px;
  font-weight: bold;
  line-height: 2.5em;
}

.dialogue:before {content: "Thinking Out Loud";}

.dialogue > div:not(.sidenote):not(.sidenoteBig):not(.comment):not(.commentBig):not(.todo):not(.endnote):not(.narrower):not(.narrowblue):not(.narrowpurple):not(.vocab) {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6em;
  text-indent: -4em;
}

.dialogue > div:not(.takeNote) > img.inline {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 28px;
}

.stagedir {
  padding-left: 0em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 0em;
  font-style: italic;
  text-align: center;
}

.dialogue > div > span:not(.katex) {
  font-weight: bold;
  /*float: left;*/
  width: 4em;
}

.dialogue > div > span.long:not(.katex) {
  width: 9em;
}

.forYouToDoHeader {text-indent:-40px;}

.forYouToDo {
  margin-bottom: .5em;
}

.ifTime {
  background-color: #cce4f6;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.ifTimeHide:before {content: "";}

table.standard th {
    white-space: nowrap;
}

table.nowrap td {
    white-space: nowrap;
}

table.center td {
    text-align: center;
}

table.truth {
  background-color: #FFFFFF;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
}

table.truth tr th {
  text-align: center;
  font-weight: bold;
}

table.truth tr td {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.takeItFurther, .takeItTeaser, .takeItTeased {
  background-color: #e4cde3;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }

.takeItFurther, .takeItTeased ol ol li {
    list-style:lower-roman;
}

.takeNote, endHOM {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

.timeline {overflow:hidden;}  /*This is a hack to get the timeline in Unit 7, The History of Computers to work */
.timeline img{height:250px; margin-left: 10%;}  /*This is a hack to get the timeline in Unit 7, The History of Computers to work */

.vocab, .vocabBig, .exam, .examBig, .atwork {
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  clear:both;
  text-indent: 0em;
}

.vocab, .exam {width: 20%;}

.vocabBig, .examBig, .atwork {width: 40%;}

.vocabFullWidth, .examFullWidth, .vocabSummary, .examSummary {
  width: 90%;
  margin-left: auto;
  margin-top: .5em;
  padding: 20px;
  text-indent: 0em;
 }
.vocabSummary, .examSummary {margin-right: auto;}

.vocabSummary .todo, .vocabSummary .comment, .vocabSummary .commentBig, .examSummary .todo, .examSummary .comment, .examSummary > .commentBig {display: none;}

.vocab:before, .vocabBig:before, .vocabFullWidth:before, .vocabSummary:before {
  content: "Vocabulary";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

.exam:before, .examBig:before, .examFullWidth:before, .examSummary:before {
  content: "On the AP Exam...";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

.atwork:before {
  content: "Computer Scientists @ Work";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

/** BJC4NYC elements added by Mary Fries, May 2015 **/
div.saveAs img {
  position: relative;
  z-index:1;
}

div.saveAs span.text {
  position: absolute;
  margin-left: 182px;
  padding-top: 1.05em;
  z-index:2;
  color: #333;
}

div.newProject span.text {
  position: absolute;
  margin-left: 323px;
  padding-top: 1.05em;
  z-index:2;
  color: #333;
}

/* Making Snap lowercase. */
.snap {font-variant: normal;}

/* Other Random Things added by Mary NEEDS ATTENTION*/

span.big {
	font-size: 50px;
}

.block {
  height: 2em;
  padding: 0px;
}

.bigBlock {height: 6%;}

.script {height: 18%;}

.button {height: 1.6em;}

div.task {font-size:large;padding-top: 10px;}

/* Development Updates Table */

.bordered, .additiontable {
  margin-left: auto;
  margin-right: auto;
}

.bordered th, .additiontable th {
  font-weight: bold;
  text-align: center;
}

.bordered td, th {
  border: 1px solid black;
  padding: 5px;
}

.centered tr {
  text-align: center;
}
.additiontable td {width: 30px;}

.additiontable tr.last td {border-top: 2px solid black;}

/* Color Emphasis */
.blue { color: #00C;}
.green { color: #0D0;}
.darkgreen { color: #060;}
.red { color: #C00;}
.orange { color: #F60;}
.purple { color: #606;}


/* TG Features*/
.time {
  background-color: #fcc589;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }

.time:before {  content: "If you are short on time, you can skip...";}

/* Compare Page Styles */
div.CSPpeach, div.visualgreen, div.visualcyan, div.visualpurple, div.visualyellow, div.visualsalmon, div.socialorange {
	padding:25px;
	border-radius: 25px;
	margin-bottom:10px;
}

/* Are these in use? --MF, 10/11/19 */
div.CSPpeach {background-color: papayawhip;}
div.visualgreen {background-color: #d8fbd8;}
div.visualcyan {background-color: lightcyan}
div.visualpurple {background-color: #e8cfe8;}
div.visualyellow {background-color: #f5eea9;}
div.visualsalmon {background-color: salmon;}
div.socialorange {background-color: #f4c480;}

ul.tight li {padding-top: 0px;padding-bottom:0px;}

/* Blue button links */

a.blbtn {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	border: 1px solid transparent;
	border-radius: 4px;
}

a.blbtn:hover {color: #333 !important;}
a.blbtn:visited {color: #fff !important;}

/* edX BJC Videos */

table.videos {border: 1px solid black;}

table.videos th {font-weight: bold;}

table.videos td {
	padding: 5px;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

/* CSS for the image hover show/hide effects created by Selim for 6.1.1 */

.hoverinfo {
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.hoverinfo p {
  display: none;
  color: #000000;
  border:1px solid;
  position:relative;
  top:30px;
  left:400px;
  padding:20px;
}

.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.95);
  display:block;
  max-width:400px;
  z-index:1;
}

@media print {
    .full {border: 0px;}
    body {font-size: .8em;}
    h2 {font-size: 1.4em;}
    h3 {font-size: 1.2em;}
    h4 {font-size: 1em;}
    .sidenote, .sidenoteBig, .endnote, .sideHOM, .sideHOMbig, .takeNote, .vocab, .vocabBig, .vocabFullWidth, .vocabSummary, .exam, .examBig, .examFullWidth, .examSummary, .dialogue, .narrower, .narrowblue, .narrowpurple {border:.5px solid;} /* Current excludes .forYouToDo, .ifTime, .takeItFurther, Also, we need to find a way to make ITIT and TIFs show up on the printouts. --MF, 7/25/19 */
    .btn-default, .todo, .comment, .commentBig, img {display: none;}
}

/* Tables with Grids */
.borderless-table, .bordered-table {display: grid;}
.borderless-table > .header, .bordered-table > .header {font-weight: bold;}
.borderless-table {border: 0px;}
.bordered-table {border: solid 1px black;}
.bordered-table > div {padding: 10px; border: solid 1px black;}
.two-col {grid-template-columns: auto auto;}
.three-col {grid-template-columns: auto auto auto;}
.four-col {grid-template-columns: auto auto auto auto;}

/* Expansion Menus*/
a.expansion-menu h4, a.expansion-menu {color: #2a6496;}
a.expansion-menu:visited h4, a.expansion-menu:visited {color: #248694;}
a.expansion-menu h4::after, a.expansion-menu::after {content: " ▾";}
a.expansion-menu.collapsed h4::after, a.expansion-menu.collapsed::after {content: " ▸";}

/*!
 * Font Awesome Free 5.13.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

a.fa-external-link-alt:after { /* This is used on the /cur/solutions-assessments/ pages to indicate an external link. */
  content: " \f35d";
  font-size: .7em;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

/* Curriculum Index */
div.index-letter-link, div.map-links {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 80%;
}

div.index-letter-link {
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
}

div.map-links {
	margin-top: 25px;
	margin-bottom: 25px;
}

div.index-letter-link a {
    font-size: 3em;
}
div.map-links a {
    font-size: 1.2em;
}

div.index-letter-target p {
    padding-top: 20px;
    font-size: 2em;
}

div.index-letter-target li {
    margin-left: 25px;
}