white-space: nowrap;@charset "UTF-8";
/* CSS Document */

/** Basic HTML **/
.todo, .comment, .commentBig { 
  /*display: none;*/ /*MARY remember to "Draft a New Release" on the GH releases page per Tech Check-in 2018-01-03*/
}

.anchor {
   padding-top: 65px;
   margin-top: -65px;
}

a:visited {  color: #248694; /* was 36BBCE; */}

a, .dialogue a {  color: #2a6496; /* was 428bca; */}

body { /* Added 12/15/16 by Mary Fries to provide more screen real estate.*/
  width: 100%;
  max-width: none;
}
  
.blockquote {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }

.byte td, th {
  width:50px;
  text-align: center;
  padding: 2px;
  border: solid 1px black !important;
}

.byte th { font-weight:bold;}

.byte td.noborder { border: 0px; }

.captioned {
  float: right;
  margin: 0 20px 15px 15px;
  width: 20%;
}

div.footer {font-size: .8em;}

.fixedwidth {
	font-family: Courier;
}

.inline {
  padding-top: -5px;
  padding-bottom: -5px;
}

h4 {  padding: 5px 0px 0px 0px;}

h3 {  padding-top: 10px;}

.full ul, .full ol {
  display: block; /* Commented out because it was breaking my styles --Mary Fries 3/19/15 */
  color: inherit; /* reset the color */
  border: none; /* EDC change. */
  margin: 0px;
}

img.imageLeft {margin-bottom: 0px;}

.indent {margin-left: 10%; /*padding-right:100px;*/}

li {	padding: 3px;}

li > ul, li > ol {/* Edited by Mary Fries, March 2015 */
  margin: 5px auto;
  line-height: none; /* hmm. */
}

li > ol {  list-style-type: lower-alpha;}

ol.horizontal li {
    float: left; 
    margin-right: 30px;
    list-style-type: lower-alpha;
}

.nopad {
	padding: 0px;
}

.nopadtb { /* top and bottom only */
	padding-top: 0px;
	padding-bottom: 0px;
}

pre {
    display: block; 
    padding: 2px; 
    width: min-content;}

pre.inline {
    display: inline; 
    margin: 0 .25em 0 .25em; 
}

div.pre-container {
    display: inline-grid;
    vertical-align: middle;
}

p, div.pseudop {margin-top: 8px;}

table.remainders {float:left; margin-right:100px;}

/* Quiz Styling - added by Mary Fries on 12.16.16*/
.MultipleChoice .currentQuestionBox .leftColumn {
  min-height: 150px;
}
/** Editor Notes **/
.comment, .commentBig { /* added by Mary Fries on 5/27/15 based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid red;
  clear:both;
  background-color: #FFF;
  text-indent: 0em;
}

.comment {width: 20%;}

.commentBig {width: 40%;}

code, var {
  font-family: courier; 
  font-size: 1.2em;
  padding: 2px;
  font-style: normal;
}

code.break {word-wrap: break-word;}

var {
  font-style: normal;
  color: #4B0064;
}

.classIndent {
  margin-left: 2em;
}

.todo {
  font-size: .9em;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid red;
  background-color: #FFF;
}

.todo:before {
  font-size: 18px;
  font-weight: bold;
}


/** Side Notes **/
.attribRight { /* added by Mary Fries on 10/10/15 based on .sidenote */
  font-size: .5em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  width: 20%;
  padding: 5px;
  background-color: #FFF; /* #F3F0B3; */
  clear:both;
  text-indent: 0em;
}
	
.sidenote, .sidenoteBig { /* added by Mary Fries based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #FFF8AD; /* was #F3F0B3; */
  clear:both;
  text-indent: 0em;
}

.sidenote {width: 20%;}

.sidenoteBig {width: 40%;}

.endnote { /* added by Mary Fries on 6/9/15 based on above */
  width: 90%;
  background-color: #FFF8AD;
  margin-left: auto;
  margin-right: auto;
 }

.narrower { /* added by bh on 5/4/17 based on above */
  width: 90%;
  background-color: #e2f3ce;
  margin-left: auto;
  margin-right: auto;
 }
 
.narrowblue { /* added by MF on 4/17/19 based on above */
  width: 90%;
  background-color: #dcf4ff;
  margin-left: auto;
  margin-right: auto;
 }
 
.narrowpurple {
  width: 90%;
  background-color: #f4ddf3;
  margin-left: auto;
  margin-right: auto;
 }
 

.sideHOM, .sideHOMbig { /* added by Mary Fries based on .sidenote */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #FCC589; /* #FEC46C; /* #F3F0B3; */
  clear:both;
  text-indent: 0em;
}

.sideHOM {width: 20%;}

.sideHOMbig {width: 40%;}

.manual, .manualBig { /* added by Mary Fries based on .sidenote */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e4cde3; /* #F3F0B3; */
  clear:both;
}

.manual {width: 20%;}

.manualBig {width: 40%;}

img.noshadow {
  /* Better resizing of images for mobile devices */
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.5));
  -ms-filter: none;
  filter: none;
}


.apStandards {
  background-color: #fcc589;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 }
 
.apStandards > p {
  font-size: 12px; 	
  margin-left: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.apStandards > h4 {
  margin-bottom: .2em;
}

.forYouToDo, .ifTime, .dialogue, .takeItFurther, .takeNote, .endnote, .narrower, .narrowblue, .narrowpurple, .time, .learn {/* Shared Box Formatting */
  padding: 1em;
  margin-bottom: .5em;
  margin-top: .5em;
}

.forYouToDo:before, .forYouToDoHeader, .ifTime:before, .dialogue:before, .takeItFurther:before, .takeNote:before, .narrower:before, .narrowblue:before, .narrowpurple:before, .endnote > div:not(.sidenote):not(.sidenoteBig):not(.sideHOM):not(.sideHOMbig):not(.todo):not(.comment):not(.commentBig):not(.takeNote):not(.collapse):not(.collapsing):not(.takeItFurther):not(.endnote):not(.vocabFullWidth):not(.pseudop), .time:before   { /* Shared Heading Formatting */ 
/* 
	On 9/5/17, Mary cut ".sidenote > div:not(.todo):not(.takeNote), .sidenoteBig > div:not(.todo)" because it was messing up the hints on 2.1.2 and 8.2.3. 
	Then I added ".not(collapsing)" because bootstrap.min.css was being weird, and this stopped it. ;)
*/
  font-size: 18px;
  font-weight: bold;
  line-height: 2.5em;
}

.dialogue {background-color: #cce4f6; /* #ecf4fb; */}

.dialogue:before {content: "Thinking Out Loud";}

.dialogue > div:not(.sidenote):not(.sidenoteBig):not(.comment):not(.commentBig):not(.todo):not(.endnote):not(.narrower):not(.narrowblue):not(.narrowpurple):not(.vocab) {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6em;
  text-indent: -4em;
}

.dialogue > div:not(.takeNote) > img.inline {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 28px;
}

.stagedir {
  padding-left: 0em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 0em;
  font-style: italic;
  text-align: center;
}

.dialogue > div > span:not(.katex) {  
  font-weight: bold; 
  /*float: left;*/
  width: 4em; 
}

.dialogue > div > span.long:not(.katex) {  
  width: 9em; 
}

.forYouToDoHeader {text-indent:-40px;}

.forYouToDo {
  background-color: #d2e3be; /* #edf4e6; */
  margin-bottom: .5em;
}

.forYouToDo:before {content: "For You To Do";} /* This had been .forYouToDo#first:before but we changed it for ADA compliance. --MF, 9/26/17 */

.ifTime {
  background-color: #cce4f6; /*#d2e3be; /* #edf4e6; */
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.ifTime:before {content: "If There Is Time...";}

.ifTimeHide:before {content: "";}

.learn {
  background-color: #fcc7c2; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table.standard th {
    white-space: nowrap;
}

table.nowrap td {
    white-space: nowrap;
}

table.center td {
    text-align: center;
}

table.truth {
  background-color: #FFFFFF; 
  display: inline-block;
  margin-top: 10px; 
  margin-bottom: 10px;
  margin-left: 5%; 
}

table.truth tr th {
  text-align: center; 
  font-weight: bold;
}

table.truth tr td {
  text-align:center;
  border: 1px solid black;
  padding: 5px;
}

.takeItFurther {
  background-color: #e4cde3; 
  width: 90%;  
  margin-left: auto;
  margin-right: auto;
  }

.takeItFurther ol ol li {
    list-style:lower-roman;
}

.takeItFurther:before {  content: "Take It Further";}

.takeNote, endHOM {
  background-color: #fcc589;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

/* .takeNote:before {content: "Take Note: ";} */

.timeline {overflow:hidden;}  /*This is a hack to get the timeline in Unit 6, The History of Computers to work */

.timeline img{height:250px; margin-left: 10%;}  /*This is a hack to get the timeline in Unit 6, The History of Computers to work */

.vocab, .vocabBig, .exam, .examBig {
  background-color: #D3D3D3;
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px; 
  padding: 10px;
  clear:both;
  text-indent: 0em;
}

.vocab, .exam {width: 20%;}

.vocabBig, .examBig {width: 40%;}

.vocabFullWidth, .examFullWidth {
  background-color: #D3D3D3;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  padding: 20px;
  /*clear: both;*/
  text-indent: 0em;
 }

.vocab:before, .vocabBig:before, .vocabFullWidth:before {
  content: "Vocabulary";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

.exam:before, .examBig:before, .examFullWidth:before {
  content: "On the AP Exam...";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

/** BJC4NYC elements added by Mary Fries, May 2015 **/
div.saveAs img {
  position: relative;
  z-index:1;
}

div.saveAs span.text {
  position: absolute; 
  margin-left: 182px;/*19.7em;*/
  padding-top: 1.05em;
  z-index:2;
  color: #333;
}

div.newProject span.text {
  position: absolute; 
  margin-left: 323px;/*19.7em;*/
  padding-top: 1.05em;
  z-index:2;
  color: #333;
}

/* Making Snap lowercase. */
.snap {font-variant: normal;}

/* Other Random Things added by Mary NEEDS ATTENTION*/

span.big {
	font-size: 50px;
}

.block {
  height: 2em; 
  padding: 0px;
}

.bigBlock {height: 6%;}

.script {height: 18%;}

.button {height: 1.6em;}

div.task {font-size:large;padding-top: 10px;}

/* Development Updates Table */

.bordered, .additiontable {
  margin-left: auto;
  margin-right: auto;
}

.bordered th, .additiontable th {
  font-weight: bold;
  text-align: center;
}

.bordered td, th {
  border: 1px solid black;
  padding: 5px;
}

.centered tr {
  text-align: center;
}
.additiontable td {width: 30px;}

.additiontable tr.last td {border-top: 2px solid black;}

/* Color Emphasis */
.blue { color: #00C;}
.green { color: #0D0;}
.darkgreen { color: #060;}
.red { color: #C00;}
.orange { color: #F60;}
.purple { color: #606;}


/* TG Features*/
.time {
  background-color: #fcc589; 
  width: 90%;  
  margin-left: auto;
  margin-right: auto;
  }

.time:before {  content: "If you are short on time, you can skip...";}

/* Compare Page Styles */
div.CSPpeach, div.visualgreen, div.visualcyan, div.visualpurple, div.visualyellow, div.visualsalmon, div.socialorange {
	padding:25px; 
	border-radius: 25px; 
	margin-bottom:10px;
}

div.CSPpeach {background-color: papayawhip;}
div.visualgreen {background-color: #d8fbd8;}
div.visualcyan {background-color: lightcyan}
div.visualpurple {background-color: #e8cfe8;}
div.visualyellow {background-color: #f5eea9;}
div.visualsalmon {background-color: salmon;}
div.socialorange {background-color: #f4c480;}

ul.tight li {padding-top: 0px;padding-bottom:0px;}

/* Blue button links */

a.blbtn {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429; 
	/* text-align: center; */ 
	/* white-space: nowrap; */ 
	/* vertical-align: middle; */ 
	/* cursor: pointer; */
	border: 1px solid transparent;
	border-radius: 4px; 
	/* -webkit-user-select: none; */ 
	/* -moz-user-select: none; */ 
	/* -ms-user-select: none; */ 
	/* -o-user-select: none; */ 
	/* user-select: none; */
}
a.blbtn:hover {
	color: #333 !important;
}
a.blbtn:visited {
	color: #fff !important;
}

/* edX BJC Videos */

table.videos {
	border: 1px solid black; 
}
table.videos th {
	font-weight: bold;
}
table.videos td {
	padding: 5px;
	border-right: 1px solid black; 
	border-left: 1px solid black; 
} 

/* CSS for the image hover show/hide effects created by Selim for 6.1.1 */

.hoverinfo {
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
.hoverinfo p {
  display: none;
  color: #000000;
  border:1px solid;
  position:relative;
  top:30px;
  left:400px;
  padding:20px;
}
.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.95);
  display:block;
  max-width:400px;
  z-index:1;
}
    