@charset "UTF-8";

/** Basic HTML **/
body {
  width: 100%;
  max-width: 100%;
}

/** TODO: work sans is not loaded on most pages.
* .h1...h6 classes are used when you want something to /look/ like a heading,
* but it shouldn't be an actual heading tag
*/
body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.box-head {
  font-family: "work_sansregular", "Open Sans", sans-serif;
  color: #000;
}

h3, .h3 {
  margin-top: 20px;
  padding-top: 10px;
}

h4, .h4 {
  padding: 5px 0px 0px 0px;
}

/* Roughly visually aligns with the default h4 style
 * To be used in curriculum boxes which contain subheadings.
 */
.box-head {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  padding: 5px 0px 0px 0px;
}

.anchor {
  padding-top: 80px;
  margin-top: -80px;
}

/* should have >= 3:1 contrast with black, 4.5:1 with white */
a:visited:not(.btn-primary) {
  color: #297694;
}

a,
.dialogue a {
  color: #3056AA; /* color: #28499F; */
}

a.btn,
.dialogue a.btn {
  text-decoration: none
}

/* development comments are hidden by default.
  mark to to update library.js if this changes. */
.todo,
.comment,
.commentBig,
.ap-standard,
.csta-standard {
  display: none;
}

.back-to-top {
  display: block;
  margin-bottom: 10px;
  font-size: 120%;
  background-image: url(/bjc-r/img/globe.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  float: right;
  padding-right: 25px;
}

.blockquote {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.byte td,
.byte th {
  width: 50px;
  text-align: center;
  padding: 2px;
  border: solid 1px black !important;
}

.byte th {
  font-weight: bold;
}

.byte td.noborder {
  border: 0px;
}

.captioned {
  float: right;
  margin: 0 20px 15px 15px;
  width: 20%;
}

.fixedwidth {
  font-family: Courier;
}

.inline {
  padding-top: -5px;
  padding-bottom: -5px;
}

.inline-block {
  padding-top: -5px;
  padding-bottom: -5px;
  height: 2.5em;
}

.full ul,
.full ol {
  display: block;
  color: inherit; /* resets the color */
  border: none;
  margin: 0px;
}

.teacher-guide .topic > section > ol {
  list-style: disc;
}

img.imageLeft {
  margin-bottom: 0px;
}

.indent {
  margin-left: 10%;
}
.smallindent {
  margin-left: 5%;
}
.padright {
  padding-right: 30px;
}

li {
  padding: 3px;
}

li > ul,
li > ol {
  margin: 5px auto;
  line-height: none;
}

li > ol {
  list-style-type: lower-alpha;
}

ol.horizontal {
  display: flex !important;
  flex-wrap: wrap;
}
ol.horizontal li {
  margin-right: 30px;
  list-style-type: lower-alpha;
}

.nopad {
  padding: 0px;
}

.nopadtb {
  /* top and bottom only */
  padding-top: 0px;
  padding-bottom: 0px;
}

pre {
  display: block;
  padding: 2px;
  width: min-content;
}

pre.inline {
  display: inline;
  margin: 0 0.25em 0 0.25em;
}

div.pre-container {
  display: inline-grid;
  vertical-align: middle;
}

p,
div.pseudop {
  margin-top: 8px;
}

table.remainders {
  float: left;
  margin-right: 100px;
}

.MultipleChoice .currentQuestionBox .leftColumn {
  min-height: 150px;
}

/** Writer Notes **/
/* based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
.comment,
.commentBig,
.ap-standard,
.csta-standard {
  font-size: 0.9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid red;
  clear: both;
  background-color: #fff;
  text-indent: 0em;
}

.comment,
.ap-standard,
.csta-standard {
  width: 20%;
}

.commentBig {
  width: 40%;
}

code {
  padding: 0px;
  color: #8b008b;
}

code.break {
  word-wrap: break-word;
}

/* a11y: TODO: this color matches Snap!, but does not have enough contrast with white. */
var {
  padding: 0px;
  /* color: #f3761d; */
  color: #f1661d;
  font-weight: bold;
  font-size: 14pt;
}

.classIndent {
  margin-left: 2em;
}

.todo {
  font-size: 0.9em;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid red;
  background-color: #fff;
}

.todo:before {
  font-size: 20px;
  font-weight: bold;
}

.sidenote,
.sidenoteBig,
.endnote {
  font-size: 1em;
}

/* based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
.sidenote,
.sidenoteBig {
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  clear: both;
  text-indent: 0em;
}

.sidenote {
  width: 20%;
}

.sidenoteBig {
  width: 40%;
}

.endnote {
  width: 90%;
  margin-left: auto;
}

.narrower {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.narrowblue {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.narrowpurple {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sideHOM,
.sideHOMbig {
  font-size: 0.9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  clear: both;
  text-indent: 0em;
}

.sideHOM {
  width: 20%;
}

.sideHOMbig {
  width: 40%;
}

img.noshadow {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
  -ms-filter: none;
  filter: none;
}

/*** OPEN/CLOSE Sections */
/* This is the text that allows you to expand/collapse contet. */
summary.disclosure-heading {
  font-weight: bold;
  font-size: 14pt;
  cursor: pointer;
  color: #285a8c;
}

details > summary::after {
  content: " ▸";
  font-size: 1.2rem;
  text-decoration: none;
}

details[open] > summary::after {
  content: " ▾";
  font-size: 1.2rem;
  text-decoration: none;
}

/* Hide Safari's disclosure triangle before the text. */
summary::-webkit-details-marker {
  display: none;
}

/* Used in teaching guide */
.apStandards,
.Standards {
  background-color: #fcc589;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.apStandards > p {
  font-size: 12px;
  margin-left: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.apStandards > h4 {
  margin-bottom: 0.2em;
}

.forYouToDo,
.ifTime,
.dialogue,
.takeItFurther,
.takeNote,
.endnote,
.narrower,
.narrowblue,
.narrowpurple,
.time,
.learn {
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.forYouToDo,
.ifTime,
.takeItFurther,
.takeItTeaser,
.takeItTeased {
  border-style: solid;
  border-width: 2px;
  border-left-width: 20px;
  background-color: #ffffff;
}

.takeItTeaser {
  border-bottom-width: 0px;
}
.takeItTeased {
  border-top-width: 0px;
}

.forYouToDo {
  border-color: #62c213;
}
.dialogue {
  border: 2px solid #0494dc;
  background-color: #ffffff;
}
.ifTime {
  border-color: #4a6cd4;
}
.takeItFurther,
.takeItTeaser,
.takeItTeased {
  border-color: #8f56e3;
}

.endnote,
.sidenote,
.sidenoteBig,
.narrower,
.narrowblue,
.narrowpurple {
  border-style: solid;
  border-width: 0px;
}

.learn {
  font-size: 1em;
  background-color: #fcc7c2;
}
.endnote,
.sidenote,
.sidenoteBig {
  background-color: #fff8ad;
  border-color: #e6a822;
}
.atwork,
.atworkFullWidth {
  background-color: #fcc890;
}
.vocab,
.vocabBig,
.exam,
.examBig,
.vocabFullWidth,
.examFullWidth,
.vocabSummary,
.examSummary {
  background-color: #eaeaea;
}

.narrower {
  border: 3px solid #62c213;
}
.narrowblue {
  border: 3px solid #4a6cd4;
}
.narrowpurple {
  border: 3px solid #8f56e3;
}

.takeNote,
.sideHOM,
.sideHOMbig {
  background-color: #fff;
  border: 10px solid #f3761d;
  color: #000;
}
div.comment,
.takeNote div.commentBig,
.takeNote div.todo,
.takeNote div.sidenote,
.takeNote div.sidenoteBig,
.takeNote div.endnote,
.sideHOM div.todo {
  color: #000000;
}

.takeItTeaser {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.takeItTeased {
  padding: 1em;
}

.forYouToDo:before,
.ifTime:before,
.dialogue:before,
.takeItFurther:before,
.takeItTeased:before,
.takeNote:before,
.narrower:before,
.narrowblue:before,
.narrowpurple:before,
.endnote
  > div:not(.sidenote):not(.sidenoteBig):not(.sideHOM):not(.sideHOMbig):not(
    .todo
  ):not(.comment):not(.commentBig):not(.takeNote):not(.collapse):not(
    .collapsing
  ):not(.takeItFurther):not(.endnote):not(.vocabFullWidth):not(
    .vocabSummary
  ):not(.pseudop):not(.bordered-table),
.time:before {
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5em;
}

.dialogue:before {
  content: "Thinking Out Loud";
}

.dialogue
  > div:not(.sidenote):not(.sidenoteBig):not(.comment):not(.commentBig):not(
    .todo
  ):not(.endnote):not(.narrower):not(.narrowblue):not(.narrowpurple):not(
    .vocab
  ) {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6em;
  text-indent: -4em;
}

.dialogue > div:not(.takeNote) > img.inline {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 28px;
}

.stagedir {
  padding-left: 0em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 0em;
  font-style: italic;
  text-align: center;
}

.dialogue > div > span:not(.katex) {
  font-weight: bold;
  width: 4em;
}

.dialogue > div > span.long:not(.katex) {
  width: 9em;
}

.forYouToDo {
  margin-bottom: 0.5em;
}

.ifTime {
  background-color: #cce4f6;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}

.ifTimeHide:before {
  content: "";
}

table.standard th {
  white-space: nowrap;
}

table.nowrap td {
  white-space: nowrap;
}

table.center td {
  text-align: center;
}

table.truth {
  background-color: #ffffff;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
}

table.truth tr th {
  text-align: center;
  font-weight: bold;
}

table.truth tr td {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.takeItFurther,
.takeItTeaser,
.takeItTeased {
  background-color: #e4cde3;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.takeItFurther,
.takeItTeased ol ol li {
  list-style: lower-roman;
}

.takeNote {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*This is a hack to get the timeline in Unit 7, The History of Computers to work */
.timeline {
  overflow: hidden;
}
.timeline img {
  height: 250px;
  margin-left: 10%;
}

.vocab,
.vocabBig,
.exam,
.examBig,
.atwork {
  font-size: 0.9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  padding: 10px;
  clear: both;
  text-indent: 0em;
}

.vocab,
.exam {
  width: 20%;
}

.vocabBig,
.examBig,
.atwork {
  width: 40%;
}

.vocabFullWidth,
.examFullWidth,
.vocabSummary,
.examSummary,
.atworkFullWidth {
  width: 90%;
  margin-left: auto;
  margin-top: 0.5em;
  padding: 20px;
  text-indent: 0em;
  overflow: hidden;
}
.vocabSummary,
.examSummary {
  margin-right: auto;
}

.vocabSummary .todo,
.vocabSummary .comment,
.vocabSummary .commentBig,
.examSummary .todo,
.examSummary .comment,
.examSummary > .commentBig {
  display: none;
}

.vocab:before,
.vocabBig:before,
.vocabFullWidth:before,
.vocabSummary:before {
  content: "Vocabulary";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

.exam:before,
.examBig:before,
.examFullWidth:before,
.examSummary:before {
  content: "On the AP Exam...";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

.atwork:before,
.atworkFullWidth:before {
  content: "Computer Scientists @ Work";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

html[lang="es"] .exam:before,
html[lang="es"] .examBig:before,
html[lang="es"] .examFullWidth:before,
html[lang="es"] .examSummary:before {
  content: "En el examen AP...";
}

html[lang="es"] .atwork:before,
html[lang="es"] .atworkFullWidth:before {
  content: "Científicos informáticos en el trabajo";
}

html[lang="es"] .vocab:before,
html[lang="es"] .vocabBig:before,
html[lang="es"] .vocabFullWidth:before,
html[lang="es"] .vocabSummary:before {
  content: "Vocabulario";
}

html[lang="es"] .dialogue:before {
  content: "Pensando en voz alta";
}

html[lang="es"] .time:before {
  content: "Si tienes poco tiempo, puedes avanzar...";
}

/* Orange blobs with text overlays. */
.saveAs {
  color: #333;
}

div.saveAs img {
  position: relative;
  z-index: 1;
}

div.saveAs span.text {
  position: absolute;
  margin-left: 182px;
  padding-top: 1.05em;
  z-index: 2;
}

html[lang="es"] div.saveAs span.text {
  position: absolute;
  margin-left: 211px;
  padding-top: 1.13em;
  z-index: 2;
}

div.newProject span.text {
  position: absolute;
  margin-left: 323px;
  padding-top: 1.05em;
  z-index: 2;
}

html[lang="es"] div.newProject span.text {
  position: absolute;
  margin-left: 445px;
  padding-top: 1.18em;
  z-index: 2;
}

/* Gifffer Library */

img[data-gifffer] {
	padding: 0px !important;
}

img.buffer {
	padding: 6px;
}

/* Other Random Things added by Mary NEEDS ATTENTION*/

span.big {
  font-size: 50px;
}

.block {
  height: 2em;
  padding: 0px;
}

.bigBlock {
  height: 6%;
}

.script {
  height: 18%;
}

.button {
  height: 1.6em;
}

div.task {
  font-size: large;
  padding-top: 10px;
}

/* Development Updates Table */

.bordered,
.additiontable {
  margin-left: auto;
  margin-right: auto;
}

.bordered th,
.additiontable th {
  font-weight: bold;
  text-align: center;
}

.bordered td,
th {
  border: 1px solid black;
  padding: 5px;
}

.centered tr {
  text-align: center;
}
.additiontable td {
  width: 30px;
}

.additiontable tr.last td {
  border-top: 2px solid black;
}

/* Color Emphasis */
.blue {
  color: #00c;
}
.green {
  color: #0d0;
}
.darkgreen {
  color: #060;
}
.red {
  color: #c00;
}
.orange {
  color: #f60;
}
.purple {
  color: #606;
}

/* TG Features*/
.time {
  background-color: #fcc589;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.time:before {
  content: "If you are short on time, you can skip...";
}

/* Compare Page Styles */
div.CSPpeach,
div.visualgreen,
div.visualcyan,
div.visualpurple,
div.visualyellow,
div.visualsalmon,
div.socialorange {
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 10px;
}

/* Are these in use? --MF, 10/11/19 */
div.CSPpeach {
  background-color: papayawhip;
}
div.visualgreen {
  background-color: #d8fbd8;
}
div.visualcyan {
  background-color: lightcyan;
}
div.visualpurple {
  background-color: #e8cfe8;
}
div.visualyellow {
  background-color: #f5eea9;
}
div.visualsalmon {
  background-color: salmon;
}
div.socialorange {
  background-color: #f4c480;
}

div.socialorange a {
  /* brighter + underlined links for accessibility */
  color: #1049CC;
  text-decoration: underline;

}

ul.tight li {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* edX BJC Videos */

table.videos {
  border: 1px solid black;
}

table.videos th {
  font-weight: bold;
}

table.videos td {
  padding: 5px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* CSS for the image hover show/hide effects created by Selim for 6.1.1 */

.hoverinfo {
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.hoverinfo p {
  display: none;
  color: #000000;
  border: 1px solid;
  position: relative;
  top: 30px;
  left: 400px;
  padding: 20px;
}

.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.95);
  display: block;
  max-width: 400px;
  z-index: 1;
}

@media print {
  body {
    font-size: 0.8em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }

  .sidenote,
  .sidenoteBig,
  .endnote,
  .sideHOM,
  .sideHOMbig,
  .takeNote,
  .vocab,
  .vocabBig,
  .vocabFullWidth,
  .vocabSummary,
  .exam,
  .examBig,
  .examFullWidth,
  .examSummary,
  .dialogue,
  .narrower,
  .narrowblue,
  .narrowpurple {
    border: 0.5px solid;
  }

  /* Current excludes .forYouToDo, .ifTime, .takeItFurther, Also, we need to find a way to make ITIT and TIFs show up on the printouts. --MF, 7/25/19 */
  .btn-default,
  .todo,
  .comment,
  .commentBig {
    display: none;
  }
  /* End media print */
}

/* Tables with Grids */
.borderless-table,
.bordered-table {
  display: grid;
}
.borderless-table > .header,
.bordered-table > .header {
  font-weight: bold;
}
.borderless-table {
  border: 0px;
}
.bordered-table {
  border: solid 1px black;
}
.bordered-table > div {
  padding: 10px;
  border: solid 1px black;
}
.two-col {
  grid-template-columns: auto auto;
}
.three-col {
  grid-template-columns: auto auto auto;
}
.four-col {
  grid-template-columns: auto auto auto auto;
}

/* Expansion Menus - Snap! Crash Course */
/* TODO: Refactor to use bs collapse + delete arrows */
a.expansion-menu h4,
a.expansion-menu {
  color: #28499F;
  /* color: #2a6496; */
}
a.expansion-menu:visited h4,
a.expansion-menu:visited {
  color: #248694;
}
a.expansion-menu h4::after,
a.expansion-menu::after {
  content: " ▾";
}
a.expansion-menu.collapsed h4::after,
a.expansion-menu.collapsed::after {
  content: " ▸";
}

/* Curriculum Index */
div.index-letter-link, div.map-links {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 80%;
}

div.index-letter-link {
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
}

div.map-links {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.index-letter-link a {
  font-size: 3em;
}
div.map-links a {
  font-size: 1.2em;
}

div.index-letter-target p {
  padding-top: 20px;
  font-size: 2em;
}

div.index-letter-target li {
  margin-left: 25px;
}


/* A little rounded rect showing whatever is specified as the background color.
  Use in HTML as <div class="color-swatch" data-color="#0A78FF"> */
.color-swatch {
  box-sizing: border-box;
  display: inline-block;
  margin: 2px;
  vertical-align: sub;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 4px;
  border: 1px solid black;
}
