/** WRAPPER **/
.wrapper { 
    max-width: -webkit-calc(1200px - (30px * 2)); 
    max-width: calc(1200px - (30px * 2)); 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 30px; 
    padding-left: 30px; 
}

/** FOOTER **/

.footer  {
    position: relative;
}

.footer .trapezoid {
    position: absolute;
    top: 0;
    left: 18px;
    border-top-style: solid;
    border-top-width: 12px;
    border-top-color: #878bbc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 60px;
    z-index: 100;

}

.footer {
  display: flex;
  padding: 0 1em;
  flex-wrap: wrap;
}
.footer-col {
    padding: 20px 10px 0;
}
.col1, .col2, .col5 {
    flex:2;
    display: grid;
    align-content: center;
}
.col3 {
    flex:1;
    display: grid;
    align-content: center;
}
.col4 {
    flex: 8;
}
.col5 img {
    max-width: 88px;
}
.footer p {
    font-size: .75em;
    line-height: 1.5;
}