* {box-sizing: border-box;}

.footer-col img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/** HEADER **/

.site-title, .pgTitle {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    color: #fff;
    text-decoration: none;
}

.site-title:hover {
    text-decoration: none;
    color: #fff;
}

.site-title:visited {
    color: #fff;
    text-decoration: none;
}

.pgTitle {padding-left: 24px;}

header .wrapper {position: relative;}

/** MAIN CONTENT **/

h2 {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: #fff;
    margin-bottom: 1em;
}

.hero {
    background: url('/bjc-r/img/splash-page/BJC_splash_background-1600x540.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 540px;
    position: relative;
}

.hero .background-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  rgba(98, 104, 171, 0.75);
}

.hero .wrapper {
    max-height: 540px; 
    position: relative;  
    height: 100%;
}

.txtContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 30px;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
      
.break {
    flex-basis: 100%;
    height: 0;
}

.subtitle {
    display: block;
    text-transform: none;
    font-size: .75em;
    margin-top: .25em;
}

.txtTitle {padding-top: 2px;}

.large-logo {
    position: absolute;
    top: 28px;
    left: 100px;
}
.hero .btn {
    border: 2px white solid;
    background-color:rgba(255, 255, 255, 0.4);
    display: block;
    margin: 20px 20px 12px;
    padding: 15px 20px;
    font-size: 20px;
    -webkit-transition: border-color 0.2s ease, color 0.2s ease;
    -moz-transition: border-color 0.2s ease, color 0.2s ease;
    -ms-transition: border-color 0.2s ease, color 0.2s ease;
    -o-transition: border-color 0.2s ease, color 0.2s ease;
    transition: border-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
    color: #fff;
    position:relative;
}

.hero .btn1 {font-size: 23px}

/*!
 * Font Awesome Free 5.13.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fas {
    padding-left: 16px;
}

i.fa-arrow-alt-circle-right:before {
  content: "\f35a"; 
  font-style: normal;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

/** MEDIA QUERIES **/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    .large-logo {
        top: 15px;
        left: 50px;
    }
}

@media screen and (max-width: 800px) { 
    .wrapper { max-width: -webkit-calc(800px - (30px)); 
        max-width: calc(800px - (30px)); 
        padding-right: 15px; 
        padding-left: 15px; 
    } 
    .large-logo img {
        max-width: 60%;
    }

    @media only screen and (min-width: 320px) and (max-width: 667px) {
        .site-title {font-size: .9em;}

        .txtTitle {margin-top: 15px;}

        .txtContainer {
            position: inherit;
            font-size: 70%;
        }

        h2 {margin-bottom: .5em;}

        .large-logo {
            position: inherit;
            top: 0;
            left: 0;
        }

        .large-logo {
            max-width: 50%;
            margin-top: 10px;
        }

        .footer-col {padding: 10px 10px;}

        .col1, .col2, .col3 {
            flex: 2;
            display: grid;
            align-content: center;
            flex-basis: 30%;
            padding-top: 1.5em;
        }

        .col3 img {width: 60%;}

        .col5 {
            flex:1;
            display: grid;
            align-content: center;
        }
        .col5 img {width: 50%;}

        .col4 {flex-basis:100%;}

        .hero .btn {font-size: 1.25em;}

        .hero .btn1 {font-size: 1.5em;}
    }
}
