/** WRAPPER **/
.wrapper {
    max-width: -webkit-calc(1200px - (30px * 2));
    max-width: calc(1200px - (30px * 2));
    padding-right: 30px;
    padding-left: 10px;
}

.margins {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
    @media only screen and (min-width: 320px) and (max-width: 667px) {
        .site-title {
            font-size: .9em;
        }
    }
}

.wrapper {
    max-height: 540px;
    position: relative;
    height: 100%;
}

/** HEADER **/

header {
    background: #0C3559;
}

.site-title {
    font-family: 'work_sansregular', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    font-variant: normal;
}

.txtTitle {
    display: block;
    font-size: 1.6rem; /* unset h1 size to be smaller. */
    font-weight: 700;
    padding-left: 88px;
    margin: 7px 0 0 0;
}

.title-small-screen {
    color: #000;
}

.trapezoid {
    position: absolute;
    bottom: -11px;
    left: 36px;
    border-top-style: solid;
    border-top-width: 12px;
    border-top-color: #0C3559;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 60px;
    z-index: 100;
}

.pull-left {
    float: left;
    padding-left: 30px;
}

.logo {
    min-height: 62px;
    padding-top: 6px;
    padding-left: 6px;
}

.site-title:hover {
    text-decoration: none;
    color: #fff;
}

.site-title:visited {
    color: #fff;
    text-decoration: none;
}

.pgTitle {padding-left: 24px;}


/** FOOTER **/

.footer {
    position: relative;
    font-family: 'work_sansregular', Helvetica, Arial, sans-serif;
    display: flex;
    padding: 0em 1em;
    flex-wrap: wrap;
    clear: right;
}

.footer img {padding: 0px;}

.footer-col {padding: 20px 10px 0;}

.col2, .col3, .col5 {
    flex:2;
    display: grid;
    align-content: center;
}

.col1 {
    flex:1;
    display: grid;
    align-content: center;
}

.col4 {flex: 8;}

.col5 img {max-width: 88px;}

.footer p {
    font-size: .6em;
    line-height: 1.5;
}
