.DS_Store
.DS_store
*~
*#*#*
*Thumbs.db*
.project
.tm_properties
.gitmodules
dwsync.xml
_notes

# Symlink to cur/programming/recur
cur/programming/recursion

*.weproj

cur/programming/algorithms/gwd_workspace.json

cur/programming/garply

cur/programming/zot
._*
cur/performance-tasks/.#create-brian.html

# Don't commit passwords publicly.
.htpasswd

# Temporary files
*-tmp
*.tmp
