# These files are excluded from the repository.

# Bundler, when it installs gems into the repo (as CI does).
.bundle/
vendor/

# Temporary files
*-tmp
*.tmp
._*
.DS_Store
*~
*#*#*
*Thumbs.db*
*.log
._*
.#*
tmp/
__pycache__
*.pyc
*.pyo

# IDE-Specific Files
.project
.tm_properties
dwsync.xml
_notes/
*.weproj
.vs/*
gwd_workspace.json

# Symlink to cur/programming/recur
cur/programming/recursion
# symlinks to sparks/
middle-school
topic/middle-school

cur/programming/garply
cur/programming/zot

# Don't commit passwords publicly.
.htpasswd
