# These files are excluded from the repository.

# Temporary files
*-tmp
*.tmp
._*
.DS_Store
.DS_store
*~
*#*#*
*Thumbs.db*
*.log
._*
.#*

# IDE-Specific Files
.project
.tm_properties
dwsync.xml
_notes/
*.weproj
.vs/*
gwd_workspace.json

# Symlink to cur/programming/recur
cur/programming/recursion
# symlinks to sparks/
middle-school
topic/middle-school

cur/programming/garply
cur/programming/zot

# Don't commit passwords publicly.
.htpasswd
TESTING # used for build tools
